@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("Fonts/DancingScript-Medium.ttf") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Fonts/LibreBaskerville-Regular.ttf") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#bkgCanvasContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgb(64, 33, 236);
  z-index: -1;
}

#main {
  z-index: 1000;
  background: transparent;
}

.container {
  display: grid;
  grid-template-rows: 100% 100% 100% 100% 100%;
  overflow-y: scroll;
  outline: 1px dashed lightgray;
  /* controllare outline se necessario */
  flex: none;
}

.container.y {
  width: 100vw;
  height: 100vh;
}

.y.mandatory-scroll-snapping {
  scroll-snap-type: y mandatory;
}

.container>section {
  text-align: center;
  scroll-snap-align: center;
  flex: none;
}

.y.container>section {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: start center;
  border-bottom: 4px solid transparent;
}


#containerOne {
  display: grid;
  grid-template-rows: 2fr 0.4fr;
  place-items: end center;
  width: 80vw;
  height: 80vh;
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
  color: rgb(255, 255, 255);
  line-height: 0%;
  background-color: transparent;
}

#containerOne>div {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: start center;
}

#titlePageOne {
  font-size: 9vh;
  text-align: center;
  z-index: 0;
  filter: drop-shadow(3px 3px 1px black);
}

#subtitleTest {
  font-size: 10vw;
  filter: drop-shadow(3px 3px 1px black);
  margin-bottom: 0%;
  text-align: center;
}

#containerTwo {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  width: 95vw;
  height: 85%;
  font-weight: 400;
  font-family: 'Libre Baskerville', serif;
  color: rgb(250, 250, 250);
  border-radius: 3vh;
  margin-top: 4vh;
}

#titleTwoContainer {
  height: fit-content;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0%;
}

#titlePageTwo {
  width: auto;
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 10vw;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  filter: drop-shadow(3px 3px 1px black);
  border: 1px solid transparent;
}

#photoSection {
  height: auto;
  display: grid;
  place-items: center;
  grid-template-rows: 0.2fr 0.615fr;
  border: 1px solid transparent;
}

#imgContainer {
  display: grid;
  place-items: center;
  width: fit-content;
  width: 40vw;
  height: auto;
  border: solid rgb(15, 15, 15);
  border-width: 0.8vh 0vh 0.8vh 0vh;
  border-radius: 15px;
  background: linear-gradient(to left, white 7%, rgb(2, 71, 199) 8%, rgb(2, 71, 199) 92%, white 93%);
  z-index: 1;
  margin-left: 0%;
  margin-right: 0%;

  overflow: hidden;
  box-shadow: inset 0vh -0.5vh black;
}

#imgContainer>img {
  max-width: 40vh;
  width: 40vw;
  height: auto;
  z-index: 2;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  margin-top: 10%;
  margin-bottom: 0%;
  opacity: 1.0;
}

.textField {
  font-size: 1.6vh;
  background: transparent;
  text-align: start;
  position: relative;
  padding-top: 0vh;
  padding-bottom: 4vh;
  display: grid;
  place-items: center;
  padding-left: 6vw;
  padding-right: 6vw;
}

.textCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  filter: drop-shadow(0vh 0.8vh 0px rgb(15, 15, 15));
}

.textField>p {
  color: white;
  padding: 0vh 0rem 1vh 0.2rem;
  margin-top: 0vh;
  margin-bottom: 0vh;
  z-index: 21;
  color: white;
}

#textSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-content: space-around;
  filter: drop-shadow(0vh -0.6vh 0px rgb(15, 15, 15));

}

#textBoxOne {
  height: 20%;
  padding-left: 6vw;
  padding-right: 6vw;
  flex: 1 1 auto;
  display: grid;
  place-items: center;
  z-index: 20;
}

#textBoxTwo {
  height: 20%;
  flex: 1 1 auto;
  display: grid;
  place-items: center start;
}

#textBoxTwo>ul {
  text-align: start;
  margin: 0.1rem 0rem 0.1rem 0rem;
  padding: 0rem 0rem 0.5rem 0.5rem;
  line-height: 3vh;
  list-style: none;
  background-color: transparent;
  z-index: 20;
  vertical-align: center;
}

#textBoxThree {
  height: 38%;
  flex: 1 1 auto;
  display: grid;
  place-items: center;
}


.myDatas {
  font-family: 'Dancing Script', cursive;
  font-size: 3vh;
  padding-left: 0.1em;
  padding-right: 0.1em;
}

#containerThree {
  display: grid;
  place-items: center;
  grid-template-rows: 0.1fr 0.9fr;
  width: 100%;
  height: 95vh;
}

#titlePageThree {
  color: white;
  width: 200px;
  font-family: 'Dancing Script', cursive;
  font-size: 11vw;
  filter: drop-shadow(3px 3px 1px black);
  margin-top: 23%;
}

#skills {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  align-content: center;
  grid-template-areas: "a b c"
    "d e f";
  font-family: 'Libre Baskerville', serif;
}

.skillContainer {
  background: transparent;
  display: grid;
  place-items: center;

}

.skillDetail {
  display: grid;
  place-items: center;
  width: 12vh;
  height: 12vh;
  border: 0.7vh solid rgb(15, 15, 15);
  border-radius: 100%;
  background-position: 100% 10%;
  background-image: linear-gradient(rgba(0, 0, 200, 0.2), rgba(0, 0, 200, 0.2)), url("images/wave-Def-Mod-Two.webp");
  background-color: rgb(50, 50, 50);
  background-size: 700% 180%;
  background-repeat: no-repeat;
  transition: all 1.5s ease-in-out;
  transform: scale(0.0);
}

@keyframes moveliquid {
  0% {
    background-position-x: 100%;
  }

  50% {
    background-position-x: 40%;
  }

  100% {
    background-position-x: 100%;
  }
}


.skillDetail>svg {
  height: 8vh;
  color: white;
}

.fa-node-js {
  height: 40%;
}

#p5Img {
  height: 7.5vh;
}

#blenderImg {
  height: 6.5vh;
  margin-top: 5%;
}

.labels {
  width: 100%;
  position: relative;
  top: 20%;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: white;
  opacity: 0.0;
  filter: drop-shadow(3px 3px 1px black);
}

.percentage {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  position: relative;
  top: -55%;
  opacity: 0.0;
  filter: drop-shadow(3px 3px 1px black);
}

#containerFour {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  padding-bottom: 0%;
  width: 100%;
  height: 95vh;
  overflow-x: scroll;
  overflow-y: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  position: relative;
}



.works {
  width: 100vw;
  height: 100%;
  font-family: 'Libre Baskerville', serif;
  font-size: 100%;
  font-weight: 400;
  text-align: center;
  background: transparent;
  padding: 0;
  margin: 0;
  display: grid;
  justify-content: center;
  grid-template-rows: auto 0.9fr 0.2fr;
  place-items: center;
  transition: all 1s ease-in-out;
  scroll-snap-align: center;
}

.details {
  display: grid;
  place-items: center;
  grid-template-rows: 75% 25%;
  width: 60vw;
  height: 80%;
  overflow: hidden;
  z-index: 1;
  background: radial-gradient(ellipse at 30% 20%, rgb(2, 71, 199) 62%, rgb(3, 61, 221) 70%, rgb(3, 61, 221) 75%, rgb(7, 123, 244) 76%, rgb(7, 123, 244) 80%, rgb(15, 15, 15) 81%, rgba(250, 250, 250, 1.0) 82%);
  border-radius: 1.5rem;
  border: 0.8vh solid rgb(15, 15, 15);
}

.details>p {
  font-size: 1.6vh;
  font-weight: 600;
  color: white;
  text-shadow: 1px 1px rgb(50, 50, 50);
  text-align: start;
  padding-left: 4%;
  padding-right: 4%;
  line-height: 1.1rem;
  z-index: 20;
}

.linksInt {
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  color: rgb(74, 162, 255);
  font-size: 5vh;
  text-decoration: none;
  filter: drop-shadow(3px 3px 1px black);
  vertical-align: center;
}

.linksInt>i {
  color: rgb(74, 162, 255);
  vertical-align: center;

}

.linksInt>img {
  height: 5vh;
}

.linksIntDouble {
  color: rgb(74, 162, 255);
  font-size: 2rem;
  text-decoration: none;
  place-items: center;
  filter: drop-shadow(3px 3px 1px black);
}

.linksIntDouble>img {
  height: 4vh;
}

.details>#linksDoubleContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  align-content: space-around;
  justify-content: center;
  vertical-align: center;
}

#first {
  width: fit-content;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-left: 0.5vh;
  margin-right: 1.5vh;
}

#second {
  width: fit-content;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.5fr 0.5fr;
  place-items: center;
  margin-left: 1.5vh;
  margin-right: 0.5vh;
}

#titleContTest {
  width: fit-content;
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  color: white;
  background: transparent;
}

#titleContTest>h3 {
  width: 100%;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 6vh;
  margin-top: 0;
  margin-bottom: 0%;
  filter: drop-shadow(3px 3px 1px black);
  z-index: 10;
}


.emojiCont {
  position: relative;
  top: 50%;
  font-size: 10vh;
  filter: drop-shadow(2px 2px 3px rgb(12, 61, 248)) drop-shadow(-2px -2px 3px rgb(12, 61, 248));
}

#logo {
  width: 10vh;
  height: 13vh;
  background-image: url("images/watch_dogs__legion_mask_golden_skull.webp");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(2px 2px 3px rgb(12, 61, 248)) drop-shadow(-2px -2px 3px rgb(12, 61, 248));
}

#containerFive {
  display: grid;
  place-items: center;
  grid-template-rows: 0.8fr 0.2fr;
  width: 100%;
  height: 95vh;
}

#titlePageFive {
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 11vw;
  filter: drop-shadow(3px 3px 3px rgb(12, 61, 248)) drop-shadow(3px 1px 1px black);
  overflow-x: visible;
  border: 1px solid transparent;
  padding-left: 1vw;
  padding-right: 1vw;
}

#contacts>span {
  color: white;
  font-size: 5vh;
}

#contacts>span>a>i {
  color: white;
  filter: drop-shadow(3px 3px 3px rgb(12, 61, 248)) drop-shadow(3px 1px 1px black);

  margin-left: 0.5rem;
  margin-right: 0.5rem;
}



#buttonsContainer {
  position: relative;
  bottom: 12vh;
  width: 150px;
  z-index: 20;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#buttonsContainer>button {
  width: fit-content;
  color: rgb(12, 61, 248);
  font-size: 30px;
  background: transparent;
  padding: 0vw 2vw 0vw 2vw;
  border: 1px solid transparent;
  margin: 0;
  filter: drop-shadow(2px 2px 1px black);
}

#footerText {
  font-family: 'Libre Baskerville', serif;
  font-size: 4vw;
  color: white;
  padding-bottom: 5%;
}

#footerText>span {
  color: red;
}

#returnBtn {
  font-size: 8vw;
  text-align: center;
  place-items: center;
  padding: 0;
  color: white;
  background: rgb(8, 21, 145);
  bottom: 10%;
  width: 14vw;
  height: 14vw;
  border: solid rgb(15, 15, 15);
  border-width: 0.2vw 0.2vw 1vw 0.2vw;
  border-radius: 100%;
  box-shadow: inset 0vh -2vh rgb(7, 123, 244);
  transition: 1s ease all;
}

@media only screen and (min-width: 280px) and (max-width: 480px) and (orientation: portrait) {
  #titlePageTwo {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  #containerFour::-webkit-scrollbar {
    display: none;
  }

  #containerFour {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media only screen and (min-height: 280px) and (max-height: 480px) and (orientation: landscape) {
  #bkgCanvasContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(64, 33, 236);
    z-index: -1;
  }

  #titlePageOne {
    font-size: 12vw;
  }

  #subtitleTest {
    font-size: 7vw;
  }



  #containerTwo {
    grid-template-columns: 0.9fr 0.9fr;
  }

  #photoSection {
    display: grid;
    place-items: center;
    grid-template-rows: 0.3fr 0.7fr;
  }

  #titlePageTwo {
    font-size: 7vw;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  #imgContainer {
    width: 25vw;
  }

  #textSection {
    /* display: grid;
    grid-template-areas:
      "a c"
      "b c"
      ". c"; */
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: space-around;
    filter: drop-shadow(0vh -0.6vh 0px rgb(15, 15, 15));
  }

  .textField {
    height: 90%;
    font-size: 2.6vh;
    line-height: 4.5vh;
    margin: 1%;
  }

  .textField>p {
    padding-bottom: 5vh;
  }

  #textBoxOne {
    height: 35vh;
    flex: 1 1 10vw;

    display: grid;
    place-items: center start;
    padding-left: 3vw;
    padding-right: 3vw;
  }

  #textBoxTwo {
    flex: 1 1 10vw;
    height: 35vh;
    display: grid;
    place-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  #textBoxTwo>ul {
    line-height: 5vh;
    margin-bottom: 3vh;
  }

  .myDatas {
    font-size: 5vh;
  }

  #textBoxThree {
    /* flex: 1 1 10vw; */

    height: 50vh;
    flex: 1 1 25vw;
    padding-top: 1rem;
    padding-bottom: 0rem;
    /* padding-left: 2rem;
    padding-right: 2rem; */
    padding-left: 6vw;
    padding-right: 6vw;
    display: grid;
    place-items: start center;
    text-align-last: left;

  }

  #titlePageThree {
    font-size: 7vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }



  .skillContainer {
    height: 35vh;
  }

  .skillDetail {
    width: 20vh;
    height: 20vh;
  }

  .skillDetail>svg {
    height: 11vh;
    color: white;
  }

  .fa-node-js {
    height: 11vh;
  }

  #p5Img {
    height: 11vh;
  }

  #blenderImg {
    height: 10vh;
    margin-top: 5%;
  }

  .labels {
    margin-bottom: 0;
    z-index: 20;
  }

  .works {
    /* grid-template-rows: auto 0.9fr 0.1fr; */
    grid-template-rows: 0.1fr auto 0.1fr;
    place-items: start center;
  }

  #titleContTest {
    grid-template-rows: 10vh auto;
  }

  #titleContTest>h3 {
    font-size: 12vh;
  }

  .details {
    width: 30vw;
    grid-template-rows: 80% 20%;
    margin-top: 3%;
  }

  .details>p {
    font-size: 2.5vh;
    line-height: 0.7rem;
    padding-left: 8%;
    padding-right: 8%;
  }

  .linksInt {
    font-size: 7vh;
    place-items: start center;
  }

  .linksInt>img {
    height: 7vh;
  }

  #linksDoubleContainer {
    /* align-items: start;
    justify-items: center; */
    margin-bottom: 3vh;
  }

  .linksIntDouble>img {
    font-size: 6vh;
    height: 5vh;
    place-items: start center;

  }

  #buttonsContainer {
    margin-top: 1vh;
  }

  #buttonsContainer>button {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }

  .emojiCont {
    font-size: 12vh;
    position: relative;
    top: 60%;
  }

  #logo {
    width: 16vh;
    height: 18vh;
  }

  /* #first {
    margin-bottom: 
  }
  
  #second {
  } */

  #titlePageFive {
    font-size: 7vw;
  }

  #contacts>span {
    font-size: 5vw;
  }

  #footerText {
    font-size: 4vh;
  }

  #returnBtn {
    font-size: 5vw;
    width: 9vw;
    height: 9vw;
    background: rgb(64, 33, 236);
  }
}



@media only screen and (min-width: 481px) and (max-width: 899px) and (min-height: 481px) {
  #titlePageOne {
    font-size: 14vw;
  }

  #subtitleTest {
    font-size: 8vw;
  }

  #containerTwo {
    width: 90vw;
    height: 90%;
    display: grid;
    grid-template-columns: minmax(35%, 0.9fr) 0.8fr;
    margin-top: 8vh;
  }

  #photoSection {
    height: auto;
    display: grid;
    place-items: center;
    grid-template-rows: 0.2fr 0.6fr;
  }

  #titleTwoContainer {
    height: auto;
  }

  #titlePageTwo {
    font-size: 9vh;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0;
  }

  .textField {
    font-size: 1.6vh;
    background: transparent;
    text-align: start;
    position: relative;
    padding-top: 2vh;
    padding-bottom: 6vh;
    display: grid;
    place-items: center;
  }

  #textBoxOne {
    height: 20vh;
  }

  #textBoxTwo {
    height: 15vh;
  }

  #textBoxThree {
    height: 30vh;
  }

  #titlePageThree {
    font-size: 10vw;
  }

  .skillDetail {
    width: 16vw;
    height: 16vw;
  }

  .labels {
    font-size: 1.8rem;
    filter: drop-shadow(3px 3px 1px black);
  }

  .percentage {
    font-size: 1.8rem;
    filter: drop-shadow(3px 3px 1px black);
  }

  #titleContTest>h3 {
    font-size: 9vw;
  }

  .details {
    width: 50vw;
    border-radius: 2rem;
    border: 0.8vh solid rgb(15, 15, 15);
  }

  .details>p {
    font-size: 1.6vh;
    line-height: 1.6rem;
  }

  #buttonsContainer>button {
    font-size: 8vw;
    filter: drop-shadow(4px 4px 2px black);

  }

  #returnBtn {
    font-size: 4vh;
    bottom: 10%;
    width: 11vw;
    height: 11vw;
    border: solid rgb(15, 15, 15);
    border-width: 0.1vw 0.1vw 0.5vw 0.1vw;
  }

  #footerText {
    font-size: 2vh;
  }

}

@media only screen and (min-width: 900px) {

  #titlePageOne {
    font-size: 11vh;
  }

  #subtitleTest {
    font-size: 8vh;
  }

  #containerTwo {
    width: auto;
    max-width: 900px;
    /* width: 80vw; */
    /* min-width: 850px; */
    /* controllare min-width */
    /* max-width: 900px; */
    /* max-width: 1000px; */
    height: 90%;
    display: grid;
    grid-template-columns: 0.8fr 0.8fr;
  }

  #photoSection {
    display: grid;
    place-items: start center;
    grid-template-rows: 0.3fr 0.8fr;
  }

  #imgContainer {
    width: 40vh;
  }

  #titleTwoContainer {
    height: auto;
  }

  #titlePageTwo {
    font-size: 10vh;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0;
  }

  .textField {
    font-size: 1.7vh;
    background: transparent;
    text-align: start;
    position: relative;
    padding-top: 1vh;
    padding-bottom: 5vh;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    display: grid;
    place-items: center;
  }

  .textField>p {
    color: white;
    padding: 0vh 0.1vh 5vh 1vh;
    margin-top: 0vh;
    margin-bottom: 0vh;
    z-index: 21;
    line-height: 1.5rem;
  }

  #textBoxOne {
    height: 18vh;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  #textBoxTwo {
    height: 20vh;
    place-items: start;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  #textBoxTwo>ul {
    padding: 2.5vh 0vh 0vh 0vh;
  }

  #textBoxThree {
    height: 35vh;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  #titlePageThree {
    font-size: 5vw;
  }

  .skillDetail {
    width: 10vw;
    height: 10vw;
  }


  .labels {
    font-size: 3vh;
    filter: drop-shadow(3px 3px 1px black);
  }

  .percentage {
    font-size: 3vh;
    filter: drop-shadow(3px 3px 1px black);
  }

  .details {
    width: 30vw;
  }

  .details>p {
    font-size: 1.7vh;
    line-height: 1.7rem;
  }

  .linksInt:hover {
    filter: drop-shadow(2px 2px 2px rgb(12, 61, 248));
  }

  .linksIntDouble:hover {
    filter: drop-shadow(2px 2px 2px rgb(12, 61, 248));
  }

  #contacts>span>a>i:hover {
    color: rgb(74, 162, 255);
  }

  #buttonsContainer>button {
    font-size: 4vw;
    padding: 0vw 1vw 0vw 1vw;
    filter: drop-shadow(4px 4px 2px black);

  }

  #titlePageFive {
    font-size: 5vw;
  }

  #returnBtn {
    font-size: 4vh;
    bottom: 10%;
    width: 10vw;
    height: 10vw;
    border: solid rgb(15, 15, 15);
    border-width: 0vw 0vw 0.3vw 0vw;
  }

  #footerText {
    font-size: 18px;
  }
}