body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#bkgCanvasContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(rgb(12, 0, 119) 0%, rgb(0, 16, 156) 60%);

  z-index: -1;
}

#main {
  z-index: 1000;

}

.container {
  display: grid;
  grid-template-rows: 100% 100% 100% 100% 100%;
  overflow-y: scroll;
  outline: 1px dashed lightgray;
  flex: none;


}

.container.y {
  width: 100vw;
  height: 100vh;
}

.y.mandatory-scroll-snapping {
  scroll-snap-type: y mandatory;
}

.container>section {
  text-align: center;
  scroll-snap-align: center;
  flex: none;
}

.y.container>section {
  width: 100%;
  height: 100%;

  display: grid;
  place-items: start center;


  border-bottom: 4px solid transparent;
}


#containerOne {
  display: grid;
  grid-template-rows: 2fr 0.4fr;

  place-items: end center;
  width: 80vw;
  height: 80vh;
  line-height: 0%;
  background-color: transparent;
}

#containerOne>div {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: start center;
}

#titleTest {
  font-family: 'Dancing Script', cursive;

  font-size: 9vh;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-align: center;
  z-index: 0;
  filter: drop-shadow(3px 3px 3px rgb(12, 61, 248)) drop-shadow(3px 1px 1px black);
  /* per mobile */
  /* margin-bottom: 20%; */

}

#subtitleTest {
  font-family: 'Dancing Script', cursive;
  font-size: 10vw;
  color: rgb(37, 36, 61);
  filter: drop-shadow(3px 1px 1px rgb(238, 216, 250));
  margin-bottom: 0%;
  text-align: center;
}

.titlesPages {
  font-family: 'Dancing Script', cursive;
  font-size: 6vh;
  color: rgb(220, 220, 220);
  filter: drop-shadow(3px 3px 1px black);

  margin-top: 5%;
  margin: 0%;
  padding-bottom: 0%;
}


#containerTwo {

  display: grid;
  grid-template-columns: minmax(35%, 1fr) 1fr;
  width: 90vw;
  height: 85%;
  font-weight: 400;
  font-family: 'Libre Baskerville', serif;
  color: rgb(220, 220, 220);
  border-radius: 3vh;
  /* background: linear-gradient(45deg, rgba(7, 123, 244, 0.5) 10%, rgba(255, 255, 255, 0.0) 50%); */
  margin-top: 8vh;

  /* scroll-snap-align: center; */

}

.canvasContainer {
  filter: drop-shadow(0.5vh 0.5vh 1px rgb(12, 61, 248));

}

#titleTwoContainer {
  height: fit-content;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 0%;
}

#titlePageTwo {
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 5.5vh;
  text-align: center;
  text-justify: auto;
  padding-top: 10%;
  padding-bottom: 10%;
  /* text-shadow: 3px 0px 3px rgb(7, 123, 244), -3px 0px 3px rgb(7, 123, 244); */
  filter: drop-shadow(2px 5px 1px rgb(74, 162, 255));
  /* filter: drop-shadow(3px 3px 3px rgb(12, 61, 248)) drop-shadow(3px 1px 1px black); */
}

.canvasContainer {
  z-index: 2;
}

#photoSection {
  height: auto;
  display: grid;
  place-items: center;
  grid-template-rows: 0.2fr 0.6fr;
}

#imgContainer {
  display: grid;
  place-items: center;
  width: fit-content;
  height: auto;
  border: 0.5vh solid rgb(7, 123, 244);
  /* border-radius: 10%; */
  border-radius: 15px;
  background: linear-gradient(rgb(23, 11, 217) 90%, rgb(7, 123, 244));
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

/* da sistemare!!! */


#imgContainer>a {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid transparent;
  box-shadow: inset 0vh 0.1vh rgba(12, 61, 248, 1.0);
  border-radius: 15px;
  filter: contrast(90%);

}

/* da sistemare!!! */

#imgContainer>a>img {
  max-width: 40vh;
  width: 100%;
  height: auto;
  z-index: 2;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  /* border-radius: 10%; */
  /* box-shadow: 0vh 1.0vh 0.5vh black; */
  filter: drop-shadow(0vh 1vh 1.0vh rgb(21, 11, 217));
  margin-top: 10%;
  margin-bottom: 0%;
  opacity: 1.0;

}

.textField {
  font-size: 1.7vh;
  background: transparent;
  text-align: start;
  position: relative;
  padding-top: 0vh;
  padding-bottom: 4vh;

  /* border-left: 0.2vh solid rgb(7, 123, 244); */
}

.textCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  /* box-shadow: 0.5vh 0vh rgb(7, 123, 244); */
  filter: drop-shadow(0vh 0.9vh 0px rgb(7, 123, 244));
}

.textField>p {
  color: white;
  padding-left: 0.4rem;
  padding-right: 0.2rem;
  padding-top: 0vh;
  padding-bottom: 1vh;
  margin-top: 0vh;
  margin-bottom: 1vh;
  z-index: 21;
}

/* per schermi più grandi smartphone
.textField>p {
padding-left: 0.5rem;
  padding-right: 0.5rem;
}
 */

#textSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-content: space-around;
  filter: drop-shadow(0vh -0.6vh 0px rgb(7, 123, 244));

}

#textBoxOne {
  height: 20%;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1 1 auto;
  display: grid;
  place-items: center;
  color: white;
  z-index: 20;
}

#textBoxTwo {
  height: 20%;
  flex: 1 1 auto;
  display: grid;
  place-items: center start;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
}

#textBoxTwo>ul {
  text-align: start;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  margin-left: 0;
  padding-right: 0rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.4rem;
  /* per mobile 1.2rem */
  list-style: none;
  background-color: transparent;
  z-index: 20;
}

#textBoxThree {
  height: 38%;
  /* <----- Cmabiare in % */
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1 1 auto;
  display: grid;
  place-items: center;
  padding-top: 10%;
  padding-bottom: 10%;
}


.myDatas {
  font-family: 'Dancing Script', cursive;
  font-size: 16px;
  padding-left: 0.1em;
  padding-right: 0.1em;
}

#containerThree {
  display: grid;
  place-items: center;
  grid-template-rows: 0.1fr 1.0fr;
  width: 100%;
  height: 95vh;
}

#titlePageThree {
  color: white;
  width: 200px;
  font-family: 'Dancing Script', cursive;
  font-size: 5.5vh;
  filter: drop-shadow(3px 3px 3px rgb(12, 61, 248)) drop-shadow(3px 1px 1px black);
  margin-top: 25%;
}

#skills {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-areas: "a b c"
    "d e f";
}

.skillContainer {
  width: 100%;
  height: 30vh;
  background: transparent;
  /* border: 1px solid red; */
  display: grid;
  place-items: center;

}

.skillDetail {
  display: grid;
  place-items: center;
  width: 23vw;
  height: 23vw;
  border: 8px solid rgb(12, 61, 248);
  /* attenzione border, ridimensionamento inaspettato */
  border-radius: 100%;
  background-position: 100% 10%;
  /* background-position: 100% 50%; */
  background-image: linear-gradient(rgba(0, 0, 200, 0.2), rgba(0, 0, 200, 0.2)), url("https://i.ibb.co/FYV4W8z/wave-Def-Mod-Two.png");
  /* background-image: url("https://i.ibb.co/FYV4W8z/wave-Def-Mod-Two.png"); */
  background-color: rgb(50, 50, 50);

  background-size: 700% 180%;
  background-repeat: no-repeat;
  transition: all 1.5s ease-in-out;
  /* transform: translate(0, -50%) scale(0.0); */
  transform: scale(0.0);
  /* animation: moveliquid 6s linear 1; */
}

@keyframes moveliquid {
  0% {
    /* background-position: 100% 50%; */
    background-position-x: 100%;

    /* background: rgb(50, 50, 50) url("/images/waveDef.svg") 100% 10% no-repeat 700% 180%; */



    /* background: radial-gradient(rgb(50, 50, 50) 20%, transparent 20%), linear-gradient(to top, rgb(23, 11, 217) 50% 51%, rgb(50, 50, 50) 51%); */

  }

  50% {
    /* background-position: 0% 50%; */
    background-position-x: 40%;
    /* background: url("/images/waveDef.svg") rgb(50, 50, 50) 40% 10% no-repeat 700% 180%; */


  }

  100% {
    /* background-position: 100% 50%; */
    background-position-x: 100%;
    /* background: rgb(50, 50, 50) url("/images/waveDef.svg") 100% 10% no-repeat 700% 180%; */



    /* background: radial-gradient(rgb(50, 50, 50) 20%, transparent 20%), linear-gradient(to top, rgb(23, 11, 217) 80% 81%, rgb(50, 50, 50) 81%); */

  }
}


.skillDetail>svg {
  height: 8vh;
  color: white;
}

.fa-html5 {}

.fa-node-js {
  height: 40%;
}

#p5Img {
  height: 7.5vh;
}

#blenderImg {
  height: 6.5vh;
  margin-top: 5%;
}

.labels {
  width: 100%;
  position: relative;
  top: 20%;
  font-family: 'Libre Baskerville', serif;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: white;
  opacity: 0.0;
}

.percentage {
  font-family: 'Libre Baskerville', serif;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  position: relative;
  top: -55%;
  text-shadow: 2px 2px 1px rgb(12, 61, 248);
  opacity: 0.0;

}

#containerFour {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  padding-bottom: 0%;
  width: 100%;
  height: 95vh;
  overflow-x: scroll;
  overflow-y: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  position: relative;
}

.works {
  width: 100vw;
  height: 100%;
  font-family: 'Libre Baskerville', serif;
  font-size: 100%;
  font-weight: 400;
  text-align: center;
  color: #0b0e0f;
  background: transparent;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  display: grid;
  justify-content: center;
  grid-template-rows: auto 0.9fr 0.2fr;
  place-items: center;
  transition: all 1s ease-in-out;
  scroll-snap-align: center;

}

.works>#imgContFirst>h3 {
  font-size: 90%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 2px solid black;
  z-index: 40;
}

.works>#imgContSecond>h3 {
  font-size: 90%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 2px solid black;
  z-index: 40;
}

.details {
  display: grid;
  place-items: center;
  width: 60vw;
  height: 80%;
  overflow: hidden;
  z-index: 1;
  background: radial-gradient(ellipse at 20% 10%, rgb(23, 11, 217) 62%, rgb(12, 61, 248) 70%, rgb(12, 61, 248) 75%, rgb(7, 123, 244) 76%, rgb(7, 123, 244) 78%, rgba(250, 250, 250, 1.0) 80%);
  filter: drop-shadow(0vh 0vh 0.5vh black);
  border-radius: 1.5rem;

  border: 1vh solid rgb(7, 123, 244);

}

.details>p {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.6vh;
  font-weight: 600;
  color: rgb(230, 230, 230);
  text-shadow: 1px 1px rgb(50, 50, 50);
  text-align: start;
  padding-left: 4%;
  padding-right: 4%;
  line-height: 1.2rem;
  z-index: 20;

}

.links {
  display: grid;
  place-items: start center;
  width: 80vw;
  height: auto;
  color: white;
  text-decoration: none;
  font-family: 'Dancing Script', cursive;
  font-size: 4vh;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 2px solid transparent;
  background: transparent;
  z-index: 40;
  filter: drop-shadow(3px 3px 1px black);
  line-height: 30%;

}

.links:hover {
  filter: drop-shadow(2px 2px 2px rgb(12, 61, 248));
  text-decoration: underline;
}

.linksContainer {
  position: relative;
  top: -10%;
  height: 100%;
  line-height: 1rem;
}

.linksInt {
  color: rgb(74, 162, 255);
  font-size: 5vh;
  text-decoration: none;
  /* border: 1px solid black; */
}

.linksInt>i {
  color: rgb(74, 162, 255);

}

.linksInt>img {
  height: 5vh;
}

.linksIntDouble {
  color: rgb(74, 162, 255);
  font-size: 2rem;
  text-decoration: none;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  /* border: 1px solid black; */


}

.linksIntDouble>img {
  height: 4vh;
}

.details>#linksDoubleContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
  flex-grow: 1;
  flex-wrap: wrap;
  /* place-items: center; */
  align-content: space-around;
  justify-content: center;

}

#titleContTest {
  width: fit-content;
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  color: white;
  background: transparent;
}

#titleContTest>h3 {
  width: 100%;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 6vh;
  margin-top: 0;
  margin-bottom: 0%;
  filter: drop-shadow(3px 3px 1px black);
  z-index: 10;
}


.emojiCont {
  position: relative;
  top: 50%;
  font-size: 10vh;
  filter: drop-shadow(2px 2px 3px rgb(12, 61, 248)) drop-shadow(-2px -2px 3px rgb(12, 61, 248));
}

#logo {
  width: 10vh;
  height: 13vh;
  background-image: url("images/watch_dogs__legion_mask_golden_skull .png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(2px 2px 3px rgb(12, 61, 248)) drop-shadow(-2px -2px 3px rgb(12, 61, 248));
}

#containerFive {
  display: grid;
  place-items: center;
  grid-template-rows: 0.8fr 0.2fr;
  width: 100%;
  height: 95vh;
}

#titlePageFive {
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 6vh;
  filter: drop-shadow(3px 3px 3px rgb(12, 61, 248)) drop-shadow(3px 1px 1px black);

}

#contacts>span {
  color: white;
  font-size: 4.7vh;
}

#contacts>span>a>i {
  color: rgb(74, 162, 255);
  filter: drop-shadow(3px 3px 3px rgb(12, 61, 248)) drop-shadow(3px 1px 1px black);

  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#buttonsContainer {
  position: relative;
  bottom: 12vh;
  /* max-width: 150px; */
  width: 150px;
  z-index: 20;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  /* flex-wrap: wrap; */
  /* filter: 2px 2px 1px white; */


}

#buttonsContainer>button {
  /* height: 5vh; */

  /* cursor: pointer; */
  width: 8vw;
  color: rgb(12, 61, 248);
  font-size: 30px;
  background: transparent;
  border: 1px solid transparent;
}

/* #buttonsContainer>button:active {
  background: transparent;
} */

#footerText {
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  color: white;
}

#footerText>span {
  color: red;
}